<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="top-bar d-flex flex-wrap-reverse">
                    <div class="col-lg-6">
                        <span class="top-bar__title f13 fw600 d-flex align-items-center">Currency : GBP
                            <i class="arrow-down-gray-heavy"></i>
                        </span>
                    </div>
                    <div class="col-lg-6">
                        <ul class="top-bar-menu d-flex">
                            <li class="top-bar-menu__item">
                                <a class="top-bar-menu__item__link f13 fw700" href="#">Register</a>
                            </li>
                            <li class="top-bar-menu__item">
                                <a routerLink="/sign" routerLinkActive="active" class="top-bar-menu__item__link f13 fw700" href="#">Sing In</a>
                            </li>
                            <li class="top-bar-menu__item f13 fw600 d-flex align-items-center">empty</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="navigation">
        <div class="container-fluid">
            <nav class="navigation-navbar navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand fw700 uppercase" href="#">Avenue <span class="fw500">Fashion</span></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar collapse navbar-collapse" id="navbarTogglerDemo02">
                    <ul class="navbar-list navbar-nav ml-lg-auto mt-2 mt-lg-0">
                        <li class="navbar-list__item nav-item dropdown">
                            <a class="navbar-list__item__link nav-link dropdown-toggle fw700 f13 uppercase" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Mens</a>
                            <div class="navbar-list__item_dropdown dropdown-menu">
                                <div class="drowpdown-menu d-flex flex-wrap">    
                                    <ul class="casuals-list">
                                        <span class="dropdown-item dropdown-menu__title f12 uppercase fw600">Casuals</span>
                                        <li><a class="dropdown-item f14 fw300" href="#">Jackets</a></li>
                                        <li><a class="dropdown-item f14 fw300" href="#">Hoodies & Sweatshirts</a></li>
                                        <li><a class="dropdown-item f14 fw300" href="#">Polo Shirts</a></li>
                                        <li><a class="dropdown-item f14 fw300" href="#">Sportswear</a></li>
                                        <li><a class="dropdown-item f14 fw300" href="#">Trousers & Chinos</a></li>
                                        <li><a class="dropdown-item f14 fw300" href="#">T-Shirts</a></li>
                                    </ul>

                                    <ul class="formal-list">
                                        <span class="dropdown-item dropdown-menu__title f12 uppercase fw600">Formal</span>
                                        <li><a class="dropdown-item f14 fw300" href="#">Jackets</a></li>
                                        <li><a class="dropdown-item f14 fw300" href="#">Shirts</a></li>
                                        <li><a class="dropdown-item f14 fw300" href="#">Suits</a></li>
                                        <li><a class="dropdown-item f14 fw300" href="#">Trousers</a></li>
                                    </ul>
                                </div>
                                <div class="sale">
                                    <span class="sale__title f36 fw600 text-center block uppercase">Autumn sale!</span>
                                    <span class="sale__title f36 fw400 text-center block uppercase">Up to 50% off</span>
                                </div>
                            </div>
                        </li>

                        <li class="navbar-list__item nav-item dropdown">
                                <a class="navbar-list__item__link nav-link dropdown-toggle fw700 f13 uppercase" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Womens</a>
                                <div class="navbar-list__item_dropdown dropdown-menu">
                                    <div class="drowpdown-menu d-flex flex-wrap">    
                                        <ul class="casuals-list">
                                            <span class="dropdown-item dropdown-menu__title f12 uppercase fw600">Casuals</span>
                                            <li><a class="dropdown-item f14 fw300" href="#">Jackets</a></li>
                                            <li><a class="dropdown-item f14 fw300" href="#">Hoodies & Sweatshirts</a></li>
                                            <li><a class="dropdown-item f14 fw300" href="#">Polo Shirts</a></li>
                                            <li><a class="dropdown-item f14 fw300" href="#">Sportswear</a></li>
                                            <li><a class="dropdown-item f14 fw300" href="#">Trousers & Chinos</a></li>
                                            <li><a class="dropdown-item f14 fw300" href="#">T-Shirts</a></li>
                                        </ul>
    
                                        <ul class="formal-list">
                                            <span class="dropdown-item dropdown-menu__title f12 uppercase fw600">Formal</span>
                                            <li><a class="dropdown-item f14 fw300" href="#">Jackets</a></li>
                                            <li><a class="dropdown-item f14 fw300" href="#">Shirts</a></li>
                                            <li><a class="dropdown-item f14 fw300" href="#">Suits</a></li>
                                            <li><a class="dropdown-item f14 fw300" href="#">Trousers</a></li>
                                        </ul>
                                    </div>
                                    <div class="sale">
                                        <span class="sale__title f36 fw600 text-center block uppercase">Autumn sale!</span>
                                        <span class="sale__title f36 fw400 text-center block uppercase">Up to 50% off</span>
                                    </div>
                                </div>
                            </li>
                        <li class="navbar-list__item nav-item dropdown">
                            <a class="navbar-list__item__link nav-link fw700 f13 uppercase" href="#">The brand</a>
                        </li>
    
                        <li class="navbar-list__item nav-item dropdown">
                            <a class="navbar-list__item__link nav-link fw700 f13 uppercase" href="#">Local stores</a>
                        </li>

                        <li class="navbar-list__item nav-item dropdown">
                                <a class="navbar-list__item__link nav-link dropdown-toggle fw700 f13 uppercase" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Look Book</a>
                                <div class="navbar-list__item_dropdown dropdown-menu">
                                    <div class="drowpdown-menu d-flex flex-wrap">    
                                        <ul class="casuals-list">
                                            <span class="dropdown-item dropdown-menu__title f12 uppercase fw600">Casuals</span>
                                            <li><a class="dropdown-item f14 fw300" href="#">Jackets</a></li>
                                            <li><a class="dropdown-item f14 fw300" href="#">Hoodies & Sweatshirts</a></li>
                                            <li><a class="dropdown-item f14 fw300" href="#">Polo Shirts</a></li>
                                            <li><a class="dropdown-item f14 fw300" href="#">Sportswear</a></li>
                                            <li><a class="dropdown-item f14 fw300" href="#">Trousers & Chinos</a></li>
                                            <li><a class="dropdown-item f14 fw300" href="#">T-Shirts</a></li>
                                        </ul>
    
                                        <ul class="formal-list">
                                            <span class="dropdown-item dropdown-menu__title f12 uppercase fw600">Formal</span>
                                            <li><a class="dropdown-item f14 fw300" href="#">Jackets</a></li>
                                            <li><a class="dropdown-item f14 fw300" href="#">Shirts</a></li>
                                            <li><a class="dropdown-item f14 fw300" href="#">Suits</a></li>
                                            <li><a class="dropdown-item f14 fw300" href="#">Trousers</a></li>
                                        </ul>
                                    </div>
                                    <div class="sale">
                                        <span class="sale__title f36 fw600 text-center block uppercase">Autumn sale!</span>
                                        <span class="sale__title f36 fw400 text-center block uppercase">Up to 50% off</span>
                                    </div>
                                </div>
                            </li>     
                    </ul>
                    <form class="form-search form-inline my-2 my-lg-0">
                        <input class="form-search__input form-control fw500" type="search" placeholder="Search...">
                        <button class="form-search__btn btn btn-outline-success my-2 my-sm-0" type="submit"><img class="form-search__btn_icon" src="assets/icons/search.svg" alt="Search"></button>
                    </form>
                </div>
            </nav>
        </div>
    </div>

</header>
<section class="banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="text-center uppercase">Welcome
                    <span class="banner__span fw400">to Ave</span>
                </h1>
                <h2 class="text-center uppercase">Sign in or register</h2>
            </div>
        </div>
    </div>
</section>
<router-outlet></router-outlet>