<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="footer-menu d-flex justify-content-between flex-wrap">
                    <ul class="footer-list">
                        <li class="footer-list__item f13 uppercase fw600">Information</li>
                        <li class="footer-list__item"><a href="#" class="footer-list__item__link f14 fw400">The brand</a></li>
                        <li class="footer-list__item"><a href="#" class="footer-list__item__link f14 fw400">Local stores</a></li>
                        <li class="footer-list__item"><a href="#" class="footer-list__item__link f14 fw400">Customer service</a></li>
                        <li class="footer-list__item"><a href="#" class="footer-list__item__link f14 fw400">Privacy & cookies</a></li>
                        <li class="footer-list__item"><a href="#" class="footer-list__item__link f14 fw400">Site map</a></li>
                    </ul>
                   
                    
                    <ul class="footer-list">
                        <li class="footer-list__item f13 uppercase fw600">Why buy from us</li>
                        <li class="footer-list__item"><a href="#" class="footer-list__item__link f14 fw400">Shipping & returns</a></li>
                        <li class="footer-list__item"><a href="#" class="footer-list__item__link f14 fw400">Secure shopping</a></li>
                        <li class="footer-list__item"><a href="#" class="footer-list__item__link f14 fw400">Testimonials</a></li>
                        <li class="footer-list__item"><a href="#" class="footer-list__item__link f14 fw400">Award winning</a></li>
                        <li class="footer-list__item"><a href="#" class="footer-list__item__link f14 fw400">Ethical trading</a></li>
                    </ul>


                    <ul class="footer-list">
                        <li class="footer-list__item f13 uppercase fw600">Your account</li>
                        <li class="footer-list__item">
                            <a routerLink="/sign" routerLinkActive="active" class="footer-list__item__link f14 fw400" href="#">Sing In</a>
                        </li>
                        <li class="footer-list__item"><a href="#" class="footer-list__item__link f14 fw400">Register</a></li>
                        <li class="footer-list__item"><a href="#" class="footer-list__item__link f14 fw400">View cart</a></li>
                        <li class="footer-list__item"><a href="#" class="footer-list__item__link f14 fw400">View your lookbook</a></li>
                        <li class="footer-list__item"><a href="#" class="footer-list__item__link f14 fw400">Track an order</a></li>
                        <li class="footer-list__item"><a href="#" class="footer-list__item__link f14 fw400">Update information</a></li>
                    </ul>

                    <ul class="footer-list">
                        <li class="footer-list__item f13 uppercase fw600">Lookbook</li>
                        <li class="footer-list__item"><a href="#" class="footer-list__item__link f14 fw400">Latest posts</a></li>
                        <li class="footer-list__item"><a href="#" class="footer-list__item__link f14 fw400">Men’s lookbook</a></li>
                        <li class="footer-list__item"><a href="#" class="footer-list__item__link f14 fw400">Women’s lookbook</a></li>
                        <li class="footer-list__item"><a href="#" class="footer-list__item__link f14 fw400">Lookbooks RSS feed</a></li>
                        <li class="footer-list__item"><a href="#" class="footer-list__item__link f14 fw400">View your lookbook</a></li>
                        <li class="footer-list__item"><a href="#" class="footer-list__item__link f14 fw400">Delete your lookbook</a></li>
                    </ul>

                    <ul class="footer-list">
                        <li class="footer-list__item f13 uppercase fw600">Сontact details</li>
                        <li class="footer-list__item"><a href="#" class="footer-list__item__link f14 fw400">Head Office: Avenue Fashion, 180-182 Regent Street, London.</a></li>
                        <li class="footer-list__item"><a href="tel: +0123-456-789" class="footer-list__item__link f14 fw400">Telephone: 0123-456-789</a></li>
                        <li class="footer-list__item"><a href="mailto:support@yourwebsite.com" class="footer-list__item__link f14 fw400">Email: support@yourwebsite.com</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="footer-news">
                    <span class="footer-news__title f36 fw600 text-center block uppercase">Award winner</span>
                    <span class="footer-news__title f36 fw300 text-center block uppercase">Fashion awards 2016</span>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="footer-social">
                    <ul class="footer-social-list d-flex justify-content-between">
                        <li class="footer-social-list__item"><a href="" class="footer-social-list__item_link"><i class="fab fa-facebook-f ic-social"></i></a></li>
                        <li class="footer-social-list__item"><a href="" class="footer-social-list__item_link"><i class="fab fa-twitter ic-social"></i></a></li>
                        <li class="footer-social-list__item"><a href="" class="footer-social-list__item_link"><i class="fab fa-instagram ic-social"></i></a></li>
                        <li class="footer-social-list__item"><a href="" class="footer-social-list__item_link"><i class="fab fa-pinterest-p ic-social"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 d-flex justify-content-between flex-wrap">
                    <span class="copyright__title f13 fw600 block">© 2016 Avenue Fashion™</span>
                    <div class="copyright-links d-flex justify-content-between align-items-center">
                        <span class="copyright-links__title block f13 fw500">Design by
                            <a href="#" class="copyright-links__title__link f13 fw500">RobbyDesigns.com</a>
                        </span>
                        <span class="copyright-links__title block">Dev by
                            <a href="#" class="copyright-links__title__link f13 fw500">Loremipsum.com</a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
