$sign-gray: #575153;
$turquoise: #00c8c8;
$white: #ffffff;
$border-form: #e7e7e7;

.w-230 {
    width: 230px;
}
.sign-in {
    box-sizing: border-box;
    margin: 64px 0 110px;
    &__title {
        color: $sign-gray;
    }

    &-form {
        &__input {
            border-radius: 0;
            height: 40px;
            border: 1px solid $border-form;
        }

        .custom-control-label {
            padding-left: 15px;
        }
        .custom-control-label::after {
            border: 1px solid $border-form;
            width: 24px;
            height: 24px;
            top: -3px;
            cursor: pointer;
        }
        .custom-checkbox .custom-control-label::before {
            border-radius: 0;
            width: 24px;
            height: 24px;
            top: -3px;
        }
        .custom-control-input:checked ~ .custom-control-label::before {
            background-color: $turquoise;
            border: $turquoise;
        }
    }
    &-btn{
        &__btn {
        transition: 0.3s ease-in;
        box-sizing: border-box;
        border: 2px solid $sign-gray;
        background-color: $white;
        color: $sign-gray;
        border-radius: 0;
        padding: 15px 30px;
        letter-spacing: 3px;

            &:hover {
                color: $white;
                border: 2px solid $turquoise;
                background-color: $turquoise;
            }
        }
        &__forgot {
            transition: 0.5s ease-in;
            color: $turquoise;

            &:hover {
                color: $sign-gray;
            }
            &_arrow {
                display: inline-block;
                margin-left: 5px;
            }
        }

        .register__span {
            color: $sign-gray;
        }
    }
}

@media screen and (max-width: 1199px){
    .register__span {
        margin-top: 15px;
    }

}
@media screen and (max-width: 991px){
    .hr-right { box-shadow: inset 0 0 0; }
}

@media screen and (max-width: 575px){
    .hr-right { margin-bottom: 30px;}
    .sign-in-btn__btn {
        width: 100%;
        margin-bottom: 15px;
        text-align: center;
    }
    .register__span {
        width: 100%;
    }
}

