<div class="sign-in">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 hr-right col-lg-pr-5  col-md-pr-5 mb-md-5 mb-sm-4">
                <span class="sign-in__title uppercase f18 fw600">sign in</span>
                <form class="form" [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">
                    <div class="sign-in-form form-group">
                        <input type="text" class="form-control sign-in-form__input mt-5" placeholder="Your Email.." formControlName="email">
                        <div *ngIf="email.invalid && !email.pristine">
                            <p *ngIf="email.errors.email" class="has-error fw500 f13">* Valid email is required.</p>
                        </div>
                        <input type="password" class="form-control sign-in-form__input mt-4" placeholder="Your password.." formControlName="password">
                        <div *ngIf="password.invalid && !password.pristine">
                            <p *ngIf="password.errors.minlength" class="has-error fw500 f13">* Password should be at least 6 characters</p>
                        </div>
                    </div>
                    <div class="sign-in-btn d-flex flex-wrap align-items-center mt-4 justify-content-between">
                        <button type="submit" [disabled]="!reactiveForm.valid" class="btn btn-primary sign-in-btn__btn uppercase fw500">Sign in</button>
                        <a class="d-flex sign-in-btn__forgot inline f15" href="#">Forgot you password
                            <span class="sign-in-btn__forgot_arrow">
                                <i class="fas fa-long-arrow-alt-right"></i>
                            </span>
                        </a>
                    </div>
                </form>

            </div>

            <div class="col-lg-6 col-lg-pl-5">
                <div class="form">
                    <span class="sign-in__title uppercase f18 fw600">register</span>
                    <div class="sign-in-form form-group">
                        <input type="text" class="form-control sign-in-form__input mt-5" placeholder="Your Email..">
                        <input type="password" class="form-control sign-in-form__input mt-4" placeholder="Your password..">
                        <input type="password" class="form-control sign-in-form__input mt-4" placeholder="Confirm password..">
                        <div class="d-flex mt-4 mb-4 custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="defaultChecked2">
                            <label class="custom-control-label f13" for="defaultChecked2">Sign up for exclusive updates, discounts, new arrivals, contests, and more!</label>
                        </div>
                    </div>

                    <div class="sign-in-btn d-flex flex-wrap align-items-center mt-4 justify-content-between">
                        <button type="submit" class="btn btn-primary sign-in-btn__btn uppercase fw500">Create account</button>
                        <span class="register__span f14 w-230 text-center">By clicking ‘Create Account’, you agree to our
                            <a class="sign-in-btn__forgot f14" href="#">Privacy Policy
                                <i class="fas fa-long-arrow-alt-right"></i>
                            </a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>